<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd"> 

<mapper namespace="main.batch.sample">
	<insert id="insertBatchTest" parameterType="java.util.HashMap">
		INSERT INTO TEST_BATCH VALUES (#{id}, #{data})
	</insert>
</mapper>
